* {
    margin: 0;
    padding: 0;
    font-size: large;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;

   
}

.flex-container {
    display: flex;
    justify-content: first baseline;
    flex-direction: column; 
    flex-wrap: wrap;

}

img {
    float: left;
    width:100px;
    height:100%;
}

body {
    background-color: solid white;
}

.header {
    background-color:  white;


}
    

.form {

    display: flex;
    flex: 1 0 100px;
    background-color: lightgray;
    font-size: small;
    justify-content: center;
    flex-basis: 200px;
    flex-grow: 1px;
    height: 50vh;
}




.submit {

    background-color: #0072e1; /*Blue*/
    color: white
    
}

    


.button {

    border-radius: 100px;



}


.footer {

    display: flex;
    flex: 1 0 100px;
    background-color: gray;
    font-size: small;
    justify-content: center;
    flex-basis: 200px;
    flex-grow: 1px;
    color: white;
    height: 50vh;
}

.input [type="text"]  {

        font-size:10px;
    }





