* {
    margin: 0;
    
   
}

.flex-container {
    display: flex;
    justify-content: first baseline;
    flex-direction: column; 
    padding: 50px; 
    flex-grow: 100px
 
    
}


.header {
    display: flex;
    flex: 1 0 500px;
    background-color: black;
    font-size: small;
    justify-content: left;
    flex-basis: 200px;
    color: white;

}


.red {
    display: flex;
    background-color: #d83519;
    font-size: small;
    justify-content: center;
}

.blue {
    display: flex;
    flex: 1 0 100px;
    background-color: #2941ab;
    font-size: small;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-basis: 200px;
    color: white;
}

p {

    font-size: large;
    text-align: center;

}

.button1 {

    border-radius: 2px;
    background-color: red;

}

.button2 {

    border-radius: 2px;
    background-color: red;

}


.footer {
    display: flex;
    background-color: black;
    font-size: small;
  
}

