* {
    margin: 0;
    padding: 0;
    font-size: large;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;

   
}

.flex-container {
    display: flex;
    background-color: lightgray;
    justify-content: first baseline;
    flex-direction: column; 
    flex-wrap: wrap;
    padding: 50px; 
  

}

body {background-color: lightgray;
    
}
.nav {
    display: flex;
    flex: 1 0 100px;
    background-color: lightblue;
    font-size: small;
    justify-content: left;
    margin: 10px;
    contain-intrinsic-height: 10px;
    flex-basis: 200px;
    flex-grow: 1px;
    border-radius: 15px;
    border: 1px solid black;
    padding: 10px;
}

.table {
    display: flex;
    flex: 1 0 100px;
    background-color: lightcoral;
    justify-content: center;
    margin: 10px;
    contain: intrinsic height 10px;
    flex-basis: 200px;
    flex-grow: 1px;
    border-radius: 15px;
    border: 1px solid black;
    padding: 10px;
}

.checkbox {
    display: flex;
    flex: 1 0 100px;
    background-color: lemonchiffon;
    justify-content: left;
    margin: 10px;
    contain: intrinsic height 10px;
    flex-basis: 200px;
    flex-grow: 1px;
    border-radius: 15px;
    border: 1px solid black;
    padding: 10px;
}

.footer {
    display: flex;
    flex: 1 0 100px;
    background-color: lightseagreen;
    justify-content: left;
    margin: 10px;
    contain-intrinsic-height:10px;
    flex-basis: 200px;
    flex-grow: 1px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
}

    
table, th {
  border: 1px solid black;
  border-collapse: collapse;
  align-self: center;
}

td {
    border: 1px solid white;
    border-collapse: collapse;
    align-self: center;

}
tr:nth-child(1) {
    background-color: white;
 
  }


   
