* {
    margin: 0;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;

   
}

.flex-container {
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;


}

img {
    float: left;
    width:100px;
    height:100%;
}

h2 {
    float: right;
    
}

.container1 {

    display: flex;
    background-color: lightgray;
    font-size: small;
    justify-content: center;
    height: 50vh;
}

.container2 {

    display: flex;
    background-color: lightgray;
    font-size: small;
    justify-content: center;
    height: 100vh;

 
}

.button {
   border-radius: 25px; 
   width: 40%;
   height: 25%;
   justify-content: center;
   align-self: center;
  }

.container3 {

    display: flex;
    background-color:blue;
    font-size: small;
    color: lightgray;
    height: 20vh;
    justify-content: space-between;
}







